#html{
    color: #e34f26 !important;

}
#css{
    color: #1572b6 !important;
}
#js{
    color: #f7df1e !important;
}
#php{
    color: #777bb4;
}
#bootstrap{
    color: #563d7c;
}
#sass{
    color: #f35ae6;
}
#react{
    color: aquamarine;
}
#py{
color: #3776ab;
}
#ruby{
  color: #e9573f;
    
}
#java{
  color: #007396;
}