body{
    font-family: sans-serif !important;
    background-color: #F2F2F2  !important;
    color: black !important;
    text-align: center;
    font-size: larger;
}
.jumbotron{
    background-color: black !important;
    color: antiquewhite !important;
    border: 4px steelblue solid;
    border-radius: 20px;
}
a{
    font-size: larger;
    color:steelblue
}
a:hover{
    color: aquamarine;
}
a:visited{
    color:steelblue

}
u{
    color: red;
}
.es{
    font-size: x-large;
}
.gol{
    text-align: left;
    font-size: x-large;
}
nav.navbar {
    background-color: #CC1414;
}
.logo{
width: 50px;
height: 50px;
}