body{
    font-family: sans-serif !important;
    background-color: #F2F2F2  !important;
    color: black !important;
    text-align: center;
    font-size: larger;
}
.jumbotron{
    background-color: black !important;
    color: antiquewhite !important;
    border: 4px steelblue solid;
    border-radius: 20px;
}
a{
    font-size: larger;
    color: aquamarine;
}
a:hover{
    color:steelblue
}
a:visited{
    color: blue;
}
u{
    color: red;
}